

<form
  class="flex flex-col gap-3 text-white"
  #queensForm="ngForm"
>
<div class="flex flex-col gap-3">
    <label for="n">Please enter a string of characters :</label>
    <input
      type="text"
      id="n"
      name="n"
      [(ngModel)]="a"
      required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=" e.g. 'abcabcddd' "
      required
    />
  </div>
  <h2 ><span>
    Result output: 
  </span>
  <span *ngIf="result"
  >
  {{result}}
  </span>
</h2>


  <button
    type="button"
    (click)="submitForm()"
    class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Submit
  </button>

</form>
